{
  "presets": [
    ["env", { "modules": false }]
  ], 
  "plugins": [
    "lodash",
    ["component", [
      {
        "libraryName": "element-ui",
        "styleLibraryName": "theme-default"
      }
    ]]
  ]
}
